if chat
    header.chat_header
        article.chat_heading 
            img.chat_avatar(src=chat.avatar, alt=chat.title)
            .chat_info
                p.chat_title= chat.title
                if (chatsUsers && chatsUsers[chat.id])
                    p.chat_users= chatsUsers[chat.id].join(', ')
        div.chat_options
            button.link.link_red#remove-user Убавить
            button.link#add-user Добавить
    section.chat_body
        if messages
            each message in messages
                article(class=message.my ? 'message' : 'message message_user')
                    span.message_content= message.content
                    span.message_time= message.time
    section.chat_footer
        button.chat_add-attachment
        textarea.chat_input(placeholder="Написать сообщение…")
        div.chat_submit-holder
            button.chat_submit-message(disabled)
template(data-component="addUserModal")
template(data-component="removeUserModal")
