if chat
    header.chat_header
        article.chat_heading 
            img.chat_avatar(src=chat.avatar, alt=chat.title)
            p.chat_title= chat.title
        button.chat_options.link Добавить
    section.chat_body
        if messages
            each message in messages
                article(class=message.my ? 'message' : 'message message_user')
                    span.message_content= message.content
                    span.message_time= message.time
    section.chat_footer
        button.chat_add-attachment
        textarea.chat_input(placeholder="Написать сообщение…")
        button.chat_submit-message
