if chat
    header.chat_header
        article.chat_heading 
            img.chat_avatar(src=chat.avatar, alt=chat.title)
            .chat_info
                p.chat_title= chat.title
                if (chatsUsers && chatsUsers[chat.id])
                    p.chat_users= Object.values(chatsUsers[chat.id]).join(', ')
        div.chat_options
            button.link.link_red#remove-user Убавить
            button.link#add-user Добавить
    section.chat_body
        if messages[chat.id]
            each message in messages[chat.id]
                article(class= userId !== message.user_id ? 'message' : 'message message_user')
                    pre.message_content= message.content
                    span.message_time= message.time
                    if userId !== message.user_id
                        span.message_time= chatsUsers[chat.id][message.user_id]
    div.chat_footer
        button.chat_add-attachment
        textarea.chat_input(placeholder="Написать сообщение…")
        div.chat_submit-holder
            button.chat_submit-message(type="submit" disabled)
template(data-component="addUserModal")
template(data-component="removeUserModal")
