h1(hidden) Чаты
main.chats-content
    aside.chats-aside
        header.chats-aside_header
            a(href="/user-settings").user-settings 
                img(src=userAvatar, alt="Вы").user-settings_avatar
                span.user-settings_name Вы
            input(type="text" name="search").search-input
        section.chats-aside_tape
            each chat in chats
                article.chat-item
                    img.chat-item_avatar(src=chat.avatar, alt=chat.chatName)
                    div.chat-item_body
                        h3.chat-item_name= chat.chatName
                        p.chat-item_teaser= chat.chatTeaser
                    div.chat-item_details
                        span.chat-item_time= chat.lastMessageTime 
                        span.chat-item_message-counter= chat.newMessageCount
    section.chat-feed
        div.chat-feed_inner
            span.chat-feed_plug У тебя тут чё, реально одни Андреи?
