
if chats
    each chat in chats
        button.chat-item(data-id=chat.id class=(activeChat && activeChat.id === chat.id ? 'active' : ''))
            img.chat-item_avatar(src=chat.avatar, alt='avatar')
            header.chat-item_header
                h3.chat-item_title= chat.title
                if chat.last_message
                    span.chat-item_time= chat.last_message.time
            div.chat-item_body
                if chat.last_message
                    p.chat-item_teaser= chat.last_message.content
                if chat.unread_count > 0
                    span.chat-item_message-counter= chat.unread_count
