mixin form-group(label, id, inputType, validationMessage, isRequired)
    label(for=id).form-group
        span.label=label
        input.control(id=id name=id type=inputType required=isRequired)
        span.validation= validationMessage