h1(hidden) Чаты
main.chats
    aside.chats-aside
        header.chats-aside_header
            a(href="/profile").profile-link
                img(src=avatar, alt="Вы").profile-link_avatar
                span.profile-link_name Вы
            input(type="text" name="search").search-input
        section.chats-aside_tape
        if chats
            each chat in chats
                article.chat-item
                    img.chat-item_avatar(src=chat.avatar, alt=chat.title)
                    div.chat-item_body
                        h3.chat-item_name= chat.title
                        p.chat-item_teaser= chat.last_message.content
                    div.chat-item_details
                        span.chat-item_time= chat.last_message.time
                        span.chat-item_message-counter= chat.unread_count
    section.chat-feed
        if activeChat
            div.chat
                header.chat_header
                    article.chat_heading 
                        img.chat_avatar(src=activeChat.avatar, alt=activeChat.title)
                        p.chat_title= activeChat.title
                    button.chat_options.link Добавить
                section.chat_body
                    if messages
                        each message in messages
                            article(class=message.my ? 'message' : 'message message_user')
                                span.message_content= message.content
                                span.message_time= message.time
                section.chat_footer
                    button.chat_add-attachment
                    textarea.chat_input(placeholder="Написать сообщение…")
                    button.chat_submit-message
        else
            div.chat-feed_empty
                span.chat-feed_plug У тебя тут чё, реально одни Андреи?
