h1(hidden) Чаты
main.chats
    aside.chats-aside
        header.chats-aside_header
            a(href="/profile").profile-link
                img(src=avatar, alt="Вы").profile-link_avatar
                div.icon-holder
            //- input(type="text" name="search").search-input
            button.button#create-chat Создать чат
        section.chats-aside_tape
            if chats
                each chat in chats
                    button.chat-item(id=chat.id)
                        img.chat-item_avatar(src=chat.avatar, alt='avatar')
                        header.chat-item_header
                            h3.chat-item_title= chat.title
                            if chat.last_message
                                span.chat-item_time= chat.last_message.time
                        div.chat-item_body
                            if chat.last_message
                                p.chat-item_teaser= chat.last_message.content
                            if chat.unread_count > 0
                                span.chat-item_message-counter= chat.unread_count
    section.chat-feed
        if activeChat
            div.chat
            template(data-component="chatInner")
        else
            div.chat-feed_empty
                span.chat-feed_plug У тебя тут чё, реально одни костыли и велосипеды?
    template(data-component="createChatModal")
